#parse("header.vm")

###set($unescapedIndexStructureJson = $indexStructureJson) ## variables with 'unescaped' in the name are not html-escaped, see BaseResponse.java

<script>
    var PROPS_IN_COLUMNS = "$websiteConfig.getPropColumns().orElse("")".split(',');
    var PAGE_SIZE = $pageSize;
    var DEBUG_INFO_VISIBLE = $debugInfo;
</script>

<script src="$JSPATH/search.js?_$cache" onerror="document.body.insertAdjacentHTML('afterbegin', '<div class=\'alert alert-danger\'>Warning: Failed to load search.js from $JSPATH. Please check your configuration or dev-server.</div>');"></script>


<div id="vue-root"></div>


#parse("footer.vm")

