/* Custom styles */

img {
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

img+img {
	margin-top: 1em;
}



/* Remove all padding from tabs that only contain a single code block */
.plugin-tabs--content [class*="language-"] {
	padding: 0 !important;
	margin: 0 !important;
}

/* For tabs with multiple children, make code blocks full width */
.plugin-tabs--content [class*="language-"] {
	margin-left: -15px !important;
	margin-right: -15px !important;
	border-radius: 0;
}

/* Remove top padding from first code block in tab */
.plugin-tabs--content [class*="language-"]:first-child {
	margin-top: -16px !important;
	border-radius: 0!important;
}

/* Remove bottom padding from last code block in tab */
.plugin-tabs--content [class*="language-"]:last-child {
	margin-bottom: -15px !important;
}

/*****************************************************/
/* Layout adjustments for larger and smaller screens */
/*****************************************************/

/* Some extra horizontal space here and there */
.content-container {
	max-width: unset !important;
}

.aside {
	padding-left: 0 !important;
}

/** remove excessive left margin from center content, on larger screen while sidebar is visible.
 sidebar hides at 960 */
@media screen and (min-width: 960px) {
	.VPDoc.has-aside {
		padding-left: 0 !important;
	}
}


:root {
	--vp-layout-max-width: 1920px;
}

.VPDoc:not(.has-sidebar) .container {
	max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
	max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
	max-width: 1168px !important;
}

/* Change max content width to 1920 instead 1440 */
@media (max-width: 1919px) {
	.VPContent.has-sidebar {
		margin: var(--vp-layout-top-height, 0px) 0 0!important;
		padding-left: var(--vp-sidebar-width)!important;
	}
	.VPSidebar {
		width: var(--vp-sidebar-width)!important;
		max-width: 100%!important;
	}
	
	.VPNavBar.has-sidebar .title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 0 32px;
		width: var(--vp-sidebar-width)!important;
		height: var(--vp-nav-height);
		background-color: transparent;
		padding-left: 32px!important;
	}
	.VPNavBar.has-sidebar .title .title {
		width: 100%!important;
	}

	.VPNavBar.has-sidebar .content {
		position: relative;
		z-index: 1;
		padding-right: 32px;
		padding-left: var(--vp-sidebar-width)!important;
	}

}

