/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/* Custom styles */

img {
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

img+img {
	margin-top: 1em;
}

/* Remove all padding from tabs that only contain a single code block */
.plugin-tabs--content [class*="language-"] {
	padding: 0 !important;
	margin: 0 !important;
}

/* For tabs with multiple children, make code blocks full width */
.plugin-tabs--content [class*="language-"] {
	margin-left: -15px !important;
	margin-right: -15px !important;
	border-radius: 0;
}

/* Remove top padding from first code block in tab */
.plugin-tabs--content [class*="language-"]:first-child {
	margin-top: -16px !important;
	border-radius: 0!important;
}

/* Remove bottom padding from last code block in tab */
.plugin-tabs--content [class*="language-"]:last-child {
	margin-bottom: -15px !important;
}

/*****************************************************/
/* Layout adjustments for larger and smaller screens */
/*****************************************************/

/* Some extra horizontal space here and there */
.content-container {
	max-width: unset !important;
}

.aside {
	padding-left: 0 !important;
}

/** remove excessive left margin from center content, on larger screen while sidebar is visible.
 sidebar hides at 960 */
@media screen and (min-width: 960px) {
	.VPDoc.has-aside {
		padding-left: 0 !important;
	}
}

:root {
	--vp-layout-max-width: 1920px;
}

.VPDoc:not(.has-sidebar) .container {
	max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
	max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
	max-width: 1168px !important;
}

/* Change max content width to 1920 instead 1440 */
@media (max-width: 1919px) and (min-width: 960px) {
	.VPContent.has-sidebar {
		margin: var(--vp-layout-top-height, 0px) 0 0!important;
		padding-left: var(--vp-sidebar-width)!important;
	}
	.VPSidebar {
		width: var(--vp-sidebar-width)!important;
		max-width: 100%!important;
	}
	
	.VPNavBar.has-sidebar .title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 0 32px;
		width: var(--vp-sidebar-width)!important;
		height: var(--vp-nav-height);
		background-color: transparent;
		padding-left: 32px!important;
	}
	.VPNavBar.has-sidebar .title .title {
		width: 100%!important;
	}

	.VPNavBar.has-sidebar .content {
		position: relative;
		z-index: 1;
		padding-right: 32px;
		padding-left: var(--vp-sidebar-width)!important;
	}
}


/*******************************/
/* Style, as opposed to layout */
/*******************************/

.logo {
	box-shadow: none !important;
	border-radius: 0px;
	margin-right:20px !important;
	min-height:40px;
}

:root.dark .logo {
	filter: invert(1);
}


/* border pixel fix */
.title{
	background-color: white!important;
	border-bottom:1px solid #e2e2e3!important;
	height: 65px!important;
}
:root.dark .title {
	background-color: #1B1B1F!important;
	border-bottom:1px solid #000 !important;
}

.VPNavBar{
	box-shadow:0 2px 8px rgba(0,0,0,.2);
}

/* alles hoekig -> INT be square :P */
*:not(.VPSwitch):not(.icon):not(.check){
	border-radius: 0px !important;
}

/* INT font */
@font-face {
	font-family: "schoolboek";
	src: url("/font/Schoolboek-Regular.eot");
	src: url("/font/Schoolboek-Regular.eot?#iefix") format("embedded-opentype"),
	url("/font/Schoolboek-Regular.woff") format("woff"),
	url("/font/Schoolboek-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
.title{
	font-family: 'schoolboek', sans-serif !important;
}

.VPNavBarSearch {
	justify-content: center!important;
	flex-grow: 1;
	display: flex;
}