// Only contains styles for classes used in the built in xsl files (article_tei.xsl, article_folia.xsl). And some styles for the navigation controls (next hit, next page)


.hl {
  --bg-color: #337ab7;
  
  font-weight: bold;
  background-color: hsl(from var(--bg-color) h min(s * 1.2, 100) 92.5);
  color: black;
  border-radius: 3px;
  padding: 0 2px;
  font-size: 105%;

  &.active {
    /*text-decoration: underline;*/
    
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
    color: black;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--bg-color);
  }
}

.word, .tooltip-hover {
	// Defined in main.css in the main webapp
	font-family: "Helvetica Neue", "Helvetica", "Arial,sans-serif", "Inl vmnw wnt";
}
.tooltip-open {
  text-decoration: underline;
}
.tooltip-hover {
  box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.2);
}

.p,
.paragraph {
	display: block;
	margin: 0 0 10px;
}

// Metadata table
#metadata td,
#metadata th {
	vertical-align: top;
}

#content-title:empty {
  display: none !important;
}